<div class="section--nav">
  {% if content.title %}
    <h3 class="section--nav-label field-label-above">{{ content.title }}</h3>
  {% endif %}
  <div class="nav side-nav">
    <nav role="navigation" class="navigation">
      <ul class="menu">
        <li class="active">{{ content.text }}</li>
      </ul>
    </nav>
  </div>
</div>
